<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>K15t PAT Registration</title>
  <link rel="stylesheet" href="css/angular-material.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="k15t-pat-registration" 
  ng-controller="registrationController"
  ng-cloak>

  <div class="header" layout="row">
    <div flex="none" layout="row" 
      layout-align="start center">
      <img src="img/logo_k15t.png" 
        width="120px">
    </div>
    <div layout="row" layout-align="end center" flex>
      <md-button ng-click="changeLanguage('en')">
        En
      </md-button>
      <md-button ng-click="changeLanguage('de')">
        De
      </md-button>
    </div>
  </div>

  <div layout="column" id="main_content">

    <md-content ng-if="registrationComplete">
      Registration completed
    </md-content>

    <md-content ng-if="!registrationComplete" 
      class="md-inline-form"
      layout-padding flex md-whiteframe="4">

      <md-toolbar>
        <h2 class="md-toolbar-tools">
          <span>{{"REGISTRATION_FORM" | translate}}</span>
        </h2>
      </md-toolbar>

      <div flex>
        <form name="registrationForm" flex
          ng-submit="registerUser()">

          <md-input-container class="md-block" flex>
            <label>Name</label>
            <input ng-model="user.name" required>
          </md-input-container>

          <div layout-gt-xs="row">
            <md-input-container class="md-block"
              flex-gt-xs>
              <label>Password</label>
              <input ng-model="user.password" required>
            </md-input-container>

            <md-input-container class="md-block" 
              flex-gt-xs>
              <label>Repeat Password</label>
              <input ng-model="user.passwordRep" required>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container 
              class="md-block" flex-gt-xs>
              <label>E-Mail</label>
              <input ng-model="user.email" required>
            </md-input-container>

            <md-input-container 
              class="md-block" flex-gt-xs>
              <label>Repeat E-Mail</label>
              <input ng-model="user.emailRep" required>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Phone Number</label>
            <input ng-model="user.phoneNumber">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="user.streetAddress" 
              required>
          </md-input-container>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>City</label>
              <input ng-model="user.city" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>Country</label>
              <input ng-model="user.country" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>Zip Code</label>
              <input ng-model="user.zipCode">

              <div ng-messages="registrationForm.postalCode.$error" 
                role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
                </div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-align="end center" flex>
            <md-button type="submit" 
                class="md-raised md-primary">
              Register
            </md-button>
          </div>

        </form>
      </div>
    </md-content>

  </div>

  <!-- Load the bundled Angular app -->
  <script src="bundle.js"></script>

</body>

</html>