<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>K15t PAT Registration</title>
  <link rel="stylesheet" href="css/angular-material.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="k15t-pat-registration" 
  ng-controller="registrationController"
  ng-cloak>

  <div layout="column" id="main_content">

    <div class="header" layout="row" layout-padding>
      <div flex="none" layout="row" 
        layout-align="start center">
        <img src="img/logo_k15t.png" 
          width="120px">
      </div>
      <div layout="row" layout-align="end center" flex>
        <md-button ng-click="changeLanguage('en')">
          En
        </md-button>
        <md-button ng-click="changeLanguage('de')">
          De
        </md-button>
      </div>
    </div>

    <md-content ng-if="registrationComplete">
      <h1>{{"REGISTRATION_COMPLETED" | translate}}</h1>
      <h2>{{"YOU_WILL_RECEIVE_CONFIRMATION_EMAIL_SOON" | translate}}</h2>
    </md-content>

    <md-content ng-if="!registrationComplete" 
      class="md-inline-form"
      layout-padding flex md-whiteframe="4">

      <md-toolbar>
        <h2 class="md-toolbar-tools">
          <span>{{"REGISTRATION_FORM" | translate}}</span>
        </h2>
      </md-toolbar>

      <div flex>
        <form name="registrationForm" flex
          ng-submit="registerUser()">

          <md-input-container class="md-block" flex>
            <label>{{"NAME" | translate}}</label>
            <input ng-model="user.name" required
              pattern="^\S{1}.{0,79}\S$">
          </md-input-container>

          <div layout-gt-xs="row">
            <md-input-container class="md-block"
              flex-gt-xs>
              <label>{{"PASSWORD" | translate}}</label>
              <input type="password"
                ng-model="user.password" required>
            </md-input-container>

            <md-input-container class="md-block" 
              flex-gt-xs>
              <label>{{"REPEAT_PASSWORD" | translate}}</label>
              <input type="password"
                ng-model="user.passwordRep" required>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container 
              class="md-block" flex-gt-xs>
              <label>{{"EMAIL" | translate}}</label>
              <input type="email" 
                ng-model="user.email" required>
            </md-input-container>

            <md-input-container 
              class="md-block" flex-gt-xs>
              <label>{{"REPEAT_EMAIL" | translate}}</label>
              <input type="email"
                ng-model="user.emailRep" required>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>{{"PHONE_NUMBER" | translate}}</label>
            <input pattern="\S{1}.{0,19}\S"
              ng-model="user.phoneNumber">
          </md-input-container>

          <md-input-container class="md-block">
            <label>{{"STREET_ADDRESS" | translate}}</label>
            <input ng-model="user.streetAddress" 
              pattern="\S{1}.{0,79}\S" required>
          </md-input-container>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{"CITY" | translate}}</label>
              <input ng-model="user.city" 
                pattern="\S{1}.{0,49}\S" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>{{"COUNTRY" | translate}}</label>
              <input ng-model="user.country" 
                pattern="\S{1}.{0,49}\S" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>{{"ZIP_CODE" | translate}}</label>
              <input ng-model="user.zipCode"
                pattern="\S{1}.{0,19}\S" required>
            </md-input-container>
          </div>

          <div layout="row" layout-align="end center" flex>
            <md-button type="submit" 
                class="md-raised md-primary">
              {{"REGISTER" | translate}}
            </md-button>
          </div>

        </form>
      </div>
    </md-content>

  </div>

  <!-- Load the bundled Angular app -->
  <script src="bundle.js"></script>

</body>

</html>